body {
  margin: auto;
  padding: 0;
}
.container {
  margin: auto;
  width: 80%;
}

/*---------- Movie Lookup ----------*/

.movie-info {
  width: 65%;
  float: left;
}
.rating,
.title {
  display: inline-block;
}
.rating {
  border: 1px solid black;
  margin-left: 60px;
  border-radius: 5px;
  padding: 1px 5px;
}
.movie-poster {
  width: 30%;
  float: right;
  padding-top: 20px;
  text-align: right;
  padding: 20px;
}

/*---------- Movie Lookup ----------*/

table {
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}
.poster {
  width: 90px;
  height: 120px;
}
