extends ./_partials/_layout_home

block content
  h1 Welcome to My Movie Database!
  .movie-display
    .movie-info

    .movie-poster
    table.table-striped.movie-collection
      thead
        tr
          th Poster
          th Title
          th Year
          th Rating
          th Watched?

