extends ./_partials/_layout

block content
  h1 Welcome {{USER}} to My Movie Database!
  .movie-display
    .movie-info

    .movie-poster
    table.table-striped.movie-collection
      tr
        th Poster
        th Title
        th Year
        th Rating
        th Watched?
