header
  .container
    .movie-lookup
      form.form-inline
        input(type ="text", placeholder="Enter Movie Title" class="movie")
        button(type="button", class="btn btn-success submit", placeholder="Lookup") Lookup movie
    .login-welcome
      form.form-inline
        .form-group
          input(type="email", class="form-control", placeholder="Email")
        .form-group
          input(type="password", class="form-control", placeholder="Password")
        button(type="text", class="btn btn-warning") Register
        button(type="text", class="btn btn-success") Login
        button(type="text", class="btn btn-danger") Reset Password

