header
  .container
    .movie-lookup
      form.form-inline
        input(type ="text", placeholder="Enter Movie Title" class="form-control movie")
        button(type="button", class="btn btn-success submit", placeholder="Lookup") Lookup movie
    .to-reset-password
      form.form-inline
        .form-group
          input(type="password", class="form-control", placeholder="Old Password")
          input(type="password", class="form-control", placeholder="New Password")
        button(type="submit", class="btn btn-success register-new-password") Register New Password
        button(type="button", class="btn btn-danger cancel") Cancel
